{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
    {{ parent() }}
{% endblock %}
{% block title %}Products{% endblock %}

{% block body %}
    <div class="card">
        <div class="imgBox">
            <img src="">
        </div>
        <div class="contentBox">
            <h3>Produkt 1</h3>
            <h2 class="price">49.<small>99</small>€</h2>
            <a href="#" class="buy">Kaufen</a>
        </div>
    </div>
    <div class="card">
        <div class="imgBox">
            <img src="">
        </div>
        <div class="contentBox">
            <h3>Produkt 2</h3>
            <h2 class="price">49.<small>99</small>€</h2>
            <a href="#" class="buy">Kaufen</a>
        </div>
    </div>
    <div class="card">
        <div class="imgBox">
            <img src="">
        </div>
        <div class="contentBox">
            <h3>Produkt 3</h3>
            <h2 class="price">49.<small>99</small>€</h2>
            <a href="#" class="buy">Kaufen</a>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="imgBox">
            <img src="">
        </div>
        <div class="contentBox">
            <h3>Produkt 4</h3>
            <h2 class="price">49.<small>99</small>€</h2>
            <a href="#" class="buy">Kaufen</a>
        </div>
    </div>
    <div class="card">
        <div class="imgBox">
            <img src="">
        </div>
        <div class="contentBox">
            <h3>Produkt 5</h3>
            <h2 class="price">49.<small>99</small>€</h2>
            <a href="#" class="buy">Kaufen</a>
        </div>
    </div>
    <div class="card">
        <div class="imgBox">
            <img src="">
        </div>
        <div class="contentBox">
            <h3>Produkt 6</h3>
            <h2 class="price">49.<small>99</small>€</h2>
            <a href="#" class="buy">Kaufen</a>
        </div>
    </div>
{% endblock %}


