
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.body-Cards {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100ch;
    background: #09161d;
}

.body-Cards .seperate-Cards {
    padding: 1%;
}

.card {
    position: relative;
    border-radius: 50px;
    width: 320px;
    height: 420px;
    background: #2196f3;
    border-radius: 20px;
    overflow: hidden;
}

.card::before {
    content: '';
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    background: #e6b43c;
    transform: skewY(360deg);
    transition: 0.5s;
}

.card:hover::before {
    top: -50%;
    transform: skewY(360deg);
}

.card::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 600;
    font-size: 8em;
    color: rgba(0, 0, 0, 0.1);
}

.card .imgBox {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    z-index: 1;
}

.card .imgBox img {
    max-width: 100%;
    transition: 0.5s;
}

.card:hover .imgBox img {
    max-width: 55%;
}

.card .contentBox {
    position: relative;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.card .contentBox h3 {
    font-size: 22px;
    color: #09161d;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
}



.card .contentBox .price {
    font-size: 24px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
}

.card .contentBox .buy {
    cursor: pointer;
    position: relative;
    top: 200px;
    opacity: 0;
    padding: 10px 30px;
    margin-top: 15px;
    color: #fff;
    text-decoration: none;
    background: #B0413E;
    border-radius: 30px;
    letter-spacing: 1px;
    transition: 0.5s;
    }

.card:hover .contentBox .buy {
    top: 80px;
    opacity: 1;
}

.imgBox img.resize {
    width: 200px; /* you can use % */
    height: auto;
}




